@import "themes";
@import "mixins";

.collapsible {
  margin-bottom: 0.5em;

  &>h3 {
    display: inline;
  }

  &>button {
    position: absolute;
    margin: 1px 0 0 0.75em;
    width: 22px;
    height: 22px;
    padding: 0px;
    @include neumorphic($distance: 4px, $blur: 8px, $radius: 5px); border: none;

    img {
      margin-top: 2px;
      width: 16px;
      transition: transform 0.75s ease;
    }

    &:hover {
      @include themed() {
        background-color: darken(t(bg), 2%);
      }
    }

    &.active {
      img {
        transform: rotate(180deg);
      }
    }

    @include no-highlight
    @include theme-transition;
  }

  &>div {
    @include indent;
    transition: max-height 0.75s ease, padding 0.75s ease;
    padding-left: 0.5em;
    overflow: hidden;

    &.active {
      padding: 0.25em 0 0.5em 0.5em;
    }

    &>a {
      @include body-font;
    }
  }
}
