@import "colors";
@import "mixins";

.menu {
  position: relative;
  display: table;
  margin: 0.5em 0 0.75em 0 !important;
  @include neumorphic($radius: 0.5em, $distance: 0.25em, $blur: 0.3em);
  background-image: linear-gradient(45deg, $gradient-colors);

  select {
    @include body-font;
    font-size: 100%;
    padding: 0.75em 45px 0.75em 0.25em;
    display: block;
    @include themed() {
      color: t(text);
      background: t(bg)
    }
    border: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url("../../static/icons/down_point.png") !important;
    background-position: calc(100% - 15px) center !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-clip: padding-box;
    @include no-highlight;

    // @media (prefers-color-scheme: dark) {
    //   background-image: url("../../static/icons/down_point_alt.png") !important;
    // }
  }


  @media only screen and (max-width: 700px) {
    margin: 0em 2em 1.5em 0;

    select {
      @include body-font;
      font-size: 85%;
      padding: 0.75em 40px 0.75em 0.75em;
    }
  }
}
