@import "colors";

.search {
  display: inline-block;
  @include neumorphic($radius: 0.5em, $distance: 0.25em, $blur: 0.3em);
  @include body-font(regular);
  font-size: 100%;
  width: 20em;
  margin: 0 2em 0 0;
  padding: 0.75em 2.75em 0.75em 0.75em;
  @include themed() {
    color: t(text);
  }
  border-radius: 0.5em;
  border: 2px solid transparent !important;

  @include no-highlight;

  @media only screen and (max-width: 700px) {
    font-size: 80%;
    width: 19.5em;
    margin-top: 0.5em;
    margin-bottom: 4em;
  }
}
