// LIGHT THEME
$background: #eee
$text-color: black
$title-color: black
$subtitle-color: #888
$subtitle-two-color: #aaa

$link-color: #d2d2d2
$link-color-hover: darken($link-color, 8%) 

$button-border: #ddd
$button-hover: #f3f3f3

$gradient-one: #63b1df
$gradient-two: #9497c7
$gradient-three: #ef519d
$gradient: linear-gradient(90deg, $gradient-one, $gradient-two, $gradient-three)
$gradient-tilt: linear-gradient(45deg, $gradient-one, $gradient-two, $gradient-three)

@mixin neumorphic($intensity: 15%, $distance: 10px, $blur: 2*$distance, $radius: 30px)
  background: $background
  box-shadow: $distance $distance $blur darken($background, $intensity), (-$distance) (-$distance) $blur lighten($background, $intensity)
  border-radius: $radius

@mixin gradient-background
  background-color: transparent
  background-image: linear-gradient(90deg, $gradient-one, $gradient-two, $gradient-three) 

// DARK THEME
// $background: #222
// $text-color: white
// $title-color: white
// $subtitle-color: #aaa
// $subtitle-two-color: #888

// $link-color: #ddd
// $link-color-hover: #ccc

// $button-border: #ddd
// $button-hover: #f3f3f3
