body 
    background: #111111
    margin: 0!important
    color: white
    font-family: "Poppins", Arial, sans-serif
    overflow-x: hidden

a 
    color: white  
    
.root 
    position: absolute
    width: 100vw
    top: 5vh
    padding-bottom: 10vh
