@font-face {
    font-family: "VTCCarrie";
    src: url("VTCCarrie-Regular.woff2");
}

@font-face {
    font-family: "OfficeCodeProD";
    src: url("OfficeCodeProD-Medium.woff2");
}

@font-face {
    font-family: "OfficeCodeProDItalic";
    src: url("OfficeCodeProD-MediumItalic.woff2");
}

@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("Poppins-Medium.ttf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("Poppins-Bold.ttf");
}
