body {
    background: #111 !important;
    margin: 0!important;
    color: white !important;
    font-family: "Poppins", Arial, sans-serif !important;
}

h1 {
    font-size: 4vw !important;
    margin: 0px auto 0px auto !important;
}

h2 {
    font-size: 3.2vw !important;
    margin: 0px auto 0px auto !important;
}

h3 {
    font-size: 1.75vw !important;
    padding: 0.3em;
}

a {
    color: white !important
}

a:hover {
    text-decoration: none !important;
}

.OCP {
    font-family: "OfficeCodeProDMedium", Arial, sans-serif !important;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr) !important;
}

.gradient-button {
    transition: 0.5s;
    background-image: linear-gradient(90deg, #63b1df, #9497c7, #ef519d);
    background-size: 200% auto;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-bottom: none !important;
    padding: 6px 12px 6px 12px !important;
}
.gradient-button:hover{
    background-position: right center; 
}

.theNeueBlack {
    font-family: "TheNeueBlack", Arial, sans-serif !important;
    font-variant-ligatures: none;
}

.PoppinsMedium {
    font-family: "PoppinsMedium", Arial, sans-serif !important;
}

.PoppinsBold {
    font-family: "PoppinsBold", Arial, sans-serif !important;
}

#mission-nav {
    color: #63b1df !important;
    border-bottom: #63b1df 0.125em solid !important;
}

#readings-nav {
    color: #72aada !important;
    border-bottom: #72aada 0.125em solid !important;
}

#films-nav {
    color: #82a3d1 !important;
    border-bottom: #82a3d1 0.125em solid !important;
}

#bipoc-praxes-nav {
    color: #8e9acb !important;
    border-bottom: #8e9acb 0.125em solid !important;
}

#one-click-activism-nav {
    color: #a28fc2 !important;
    border-bottom: #a28fc2 0.125em solid !important;
}

#featured-designers-nav {
    color: #be7fb7 !important;
    border-bottom: #be7fb7 0.125em solid !important;
}

#acknowledgments-nav {
    color: #d66daa !important;
    border-bottom: #d66daa 0.125em solid !important;
}

#suggest-an-addition-nav {
    color: #ef519d !important;
    border-bottom: #ef519d 0.125em solid !important;
}

.root {
    position: absolute !important;
    width: 100vw !important;
    top: 6vh !important;
    padding-bottom: 10vh !important;
}

.just-design {
    position: relative !important;
    margin: 2em auto 0.5em auto !important;
    width: 100vw !important;
    text-align: center !important;
    font-family: "TheNeueBlack", Arial, sans-serif !important;
    text-transform: uppercase !important;
}

.gradientText {
    background: linear-gradient(90deg, #63b1df, #9497c7, #ef519d) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.pinkText {
    color: #ef519d !important;
}

#links {
    position: relative !important;
    text-align: center !important;
    width: 100vw !important;
    padding-top: 4vh !important;
}

#links > a {
    text-decoration: none !important;
    padding-bottom: 0.12em !important;
    border-bottom: #ffffff 0.125em solid !important;
}

.text-content {
    position: relative !important;
    width: 80vw !important;
    left: 10vw !important;
    top: 2vh !important;
    line-height: 150% !important;
}

.text-content > p > a {
    color: white !important;
    text-decoration: underline #63b1df !important;
}

.social-media-image {
    position: relative !important;
    left: 30vw !important;
    width: 40vw !important;
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    margin: 2vh auto 2vh auto !important;
}

@media only screen and (max-width: 1500px) {
    .cards { 
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media only screen and (max-width: 1100px) {
    #index {
        top: 15vh !important;
    }

    h1 {
        font-size: 6vw !important;
    }

    h2 {
        font-size: 4.8vw !important;
    }

    h3 {
        font-size: 3vw !important;
    }
    .cards { 
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 700px) {
    #index {
        top: 9vh !important;
    }

    h1 {
        font-size: 7vw !important;
    }

    h2 {
        font-size: 5.6vw !important;
    }

    h3 {
        font-size: 4.5vw !important;
        line-height: 200% !important;
    }
    .cards { 
        grid-template-columns: repeat(1, 1fr) !important;
    }
}