body {
    background: #111;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "OfficeCodeProDMedium", Arial, sans-serif;
}

h1 {
    font-size: 4vw;
    margin: 0px auto 0px auto;
}

h2 {
    font-size: 3.2vw;
    margin: 0px auto 0px auto;
}

h3 {
    font-size: 1.75vw;
}

a {
    color: white;
    text-decoration: none;
    padding-bottom: 0.12em;
    border-bottom: #ffffff 0.125em solid;
}

#mission-nav {
    color: #63b1df !important;
    border-bottom: #63b1df 0.125em solid;
}

#readings-nav {
    color: #72aada !important;
    border-bottom: #72aada 0.125em solid;
}

#films-nav {
    color: #82a3d1 !important;
    border-bottom: #82a3d1 0.125em solid;
}

#bipoc-praxes-nav {
    color: #8e9acb !important;
    border-bottom: #8e9acb 0.125em solid;
}

#one-click-activism-nav {
    color: #a28fc2 !important;
    border-bottom: #a28fc2 0.125em solid;
}

#featured-designers-nav {
    color: #be7fb7 !important;
    border-bottom: #be7fb7 0.125em solid;
}

#acknowledgments-nav {
    color: #d66daa !important;
    border-bottom: #d66daa 0.125em solid;
}

#suggest-an-addition-nav {
    color: #ef519d !important;
    border-bottom: #ef519d 0.125em solid;
}

.root {
    position: absolute;
    width: 100vw;
    top: 10vh;
}

.just-design {
    position: relative;
    margin: 2em auto 0.5em auto;
    width: 100vw;
    text-align: center;
    font-family: "TheNeueBlack", Arial, sans-serif;
    text-transform: uppercase;
}

.gradientText {
    background: linear-gradient(90deg, #63b1df, #9497c7, #ef519d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pinkText {
    color: #ef519d !important;
}

#links {
    position: relative;
    text-align: center;
    width: 100vw;
}

.text-content {
    position: relative;
    width: 60vw;
    left: 20vw;
    top: 2vh;
    line-height: 150%;
}

.social-media-image {
    position: relative;
    left: 30vw;
    width: 40vw;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 2vh auto 2vh auto;
}

@media only screen and (max-width: 1100px) {
    #index {
        top: 15vh;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4.8vw;
    }

    h3 {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    #index {
        top: 9vh;
    }

    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 5.6vw;
    }

    h3 {
        font-size: 4.5vw;
        line-height: 200%;
    }
}